<footer>
    <div class="wrap-footer">
        <div class="box-1">

            <div class="row-footer">
                <div class="bar-row-title">
                    <span>Tổng đài hỗ trợ</span>
                </div>
                <div class="body-supp">

                    <div class="column-supp">
                        <div class="region-name"><i class="fa fa-phone-square"></i>Phía Bắc &amp; Trung
                        </div>
                        <div class="region-phone"><span class="title-supp-pc">Mua hàng:</span><span><a
                                    href="tel:02435686969"> (024) 3568 6969</a></span></div>
                        <div class="region-phone"><span class="title-supp-pc">Bảo hành:</span><span><a
                                    href="tel:02838333222">(028) 38 333 222</a></span></div>
                    </div>
                    <div class="column-supp region">
                        <div class="region-name"><i class="fa fa-phone-square"></i>Phía Nam</div>
                        <div class="region-phone"><span class="title-supp-pc">Mua hàng:</span><span><a
                                    href="tel:02838336666"> (028) 3833 6666</a></span></div>
                        <div class="region-phone"><span class="title-supp-pc">Bảo hành:</span><span><a
                                    href="tel:02838333222">(028) 38 333 222</a></span></div>
                    </div>
                </div>
                <div class="row-timer">
                    <span class="timer-item-name">Thời gian:</span>
                    <span class="timer-item region"><span>8h - 19h (Thứ 2 đến Thứ 6)</span><br>
                        <span>8h - 17h30 (Thứ 7 và Chủ nhật)</span></span>
                </div>
            </div>

            <div class="info-another">
                <div class="title-row-info">
                    <div>Hỗ trợ khách hàng<span class="arrow-icon"></span></div>
                </div>
                <ul class="list-info-another">
                    <li class="info-another-item"><a rel="nofollow" href="/khieu-nai-boi-thuong">Khiếu
                            nại
                            bồi
                            thường</a></li>
                    <li class="info-another-item"><a rel="nofollow" href="/huong-dan-thanh-toan">Hình
                            thức
                            thanh
                            toán</a></li>
                    <li class="info-another-item"><a rel="nofollow" href="/huong-dan-mua-hang">Hướng dẫn
                            mua
                            hàng</a></li>
                    <li class="info-another-item"><a rel="nofollow" href="/hoadon/"
                            title="Hướng dẫn tải hóa đơn GTGT điện tử khi mua hàng" class="">Hóa đơn
                            GTGT
                            điện
                            tử</a></li>
                    <li class="info-another-item"><a rel="nofollow" href="/chinh-sach-va-quy-dinh-chung"
                            title="Chính sách và Quy định chung">Chính sách và Quy định chung</a></li>
                    <li class="info-another-item"><a rel="nofollow" href="/chinh-sach-ban-hang">Chính
                            sách
                            bán
                            hàng &amp; Chất lượng hàng hóa</a></li>
                    <li class="info-another-item"><a rel="nofollow" href="/chinh-sach-giao-nhan">Giao
                            nhận
                            hàng
                            hóa</a></li>
                    <li class="info-another-item"><a rel="nofollow" href="/chinh-sach-doi-tra">Chính
                            sách
                            Đổi -
                            Trả hàng hóa</a></li>
                    <li class="info-another-item"><a rel="nofollow" href="/chinh-sach-bao-hanh">Chính
                            sách
                            Bảo
                            hành</a></li>
                    <li class="info-another-item"><a rel="nofollow" href="/chinh-sach-bao-mat">Bảo mật
                            dữ
                            liệu
                            cá nhân</a></li>

                </ul>
            </div>

            <div class="info-another">
                <div class="title-row-info">
                    <div>Quản lý tài khoản<span class="arrow-icon"></span></div>
                </div>
                <ul class="list-info-another">
                    <li class="info-another-item"><a rel="nofollow"
                            href="/account/login?ReturnUrl=%2faccount%2fprofile">Thay đổi thông tin</a>
                    </li>
                    <li class="info-another-item"><a rel="nofollow" href="/account/forgot">Lấy lại mật
                            khẩu</a>
                    </li>
                    <li class="info-another-item"><a rel="nofollow"
                            href="/account/login?ReturnUrl=%2faccount%2fhistory">Lịch sử mua hàng</a>
                    </li>
                    <li class="info-another-item"><a rel="nofollow" href="/checkout">Quản lý giỏ
                            hàng</a>
                    </li>
                </ul>
            </div>

            <div class="info-another about-meta">
                <div class="title-row-info">
                    <div>Về META.vn<span class="arrow-icon"></span></div>
                </div>
                <ul class="list-info-another">
                    <li class="info-another-item"><a href="/gioithieu" rel="nofollow">Giới thiệu về
                            META</a>
                    </li>
                    <li class="info-another-item"><a href="/lienhe" rel="nofollow">Liên hệ</a></li>
                    <li class="info-another-item"><a href="/tuyen-dung" rel="nofollow">Tuyển dụng</a>
                    </li>
                    <li class="info-another-item"><a href="/sitemap/">Sơ đồ website</a></li>
                </ul>
            </div>

            <div class="row-footer">
                <div class="bar-row-title">
                    <span>Kết nối với chúng tôi</span>
                </div>

                <div class="body-connect">
                    <div class="box-social">
                        <div class="social-item ">
                            <a href="#">
                                <img src="https://meta.vn/images/icons/pinterest-icon.svg">
                                <div class="name-social">Pinterest</div>
                            </a>
                        </div>
                        <div class="social-item ">
                            <a href="#">
                                <img src="https://meta.vn/images/icons/facebook-icon.svg">
                                <div class="name-social">FaceBook</div>
                            </a>
                        </div>
                        <div class="social-item ">
                            <a href="#">
                                <img src="https://meta.vn/images/icons/youtube-icon.svg">
                                <div class="name-social">Youtune</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="box-ssc">
            <div class="box-social-app">
                <div class="title-app-name">
                    <div>Tải ứng dụng trên điện thoại</div>
                </div>
                <div class="social-item-app ">
                    <a href="">
                        <img src="https://meta.vn/images/icons/apple-icon.svg">
                        <div class="name-social">App Store</div>
                    </a>
                </div>

                <div class="social-item-app ">
                    <a href="">
                        <img src="https://meta.vn/images/icons/playstore-icon.svg">
                        <div class="name-social">Google Play</div>
                    </a>
                </div>

                <div class="social-item-app ">
                    <a href="">
                        <img src="https://meta.vn/images/qrcode-ios.png">
                    </a>
                </div>

            </div>

            <div class="row-footer-payment">
                <div class="bar-row-payment">
                    <div>Chấp nhận thanh toán</div>
                </div>

                <div class="body-payment">
                    <div class="payment-item">
                        <img class="lazy-img lazy-loaded"
                            src="https://meta.vn/images/icons/pay/visa.svg">
                        <img class="lazy-img lazy-loaded"
                            src="https://meta.vn/images/icons/pay/mastercard.svg">
                        <img class="lazy-img lazy-loaded"
                            src="https://meta.vn/images/icons/pay/internet-banking.svg">
                        <img class="lazy-img lazy-loaded"
                            src="https://meta.vn/images/icons/pay/alepay.svg">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-w">
            <div class="brand-company">
                <div class="name-company">Công ty cổ phần mạng trực tuyến META</div>
                <div class="name-slogan">Trên 17 năm Uy tín cung cấp Dịch vụ Bán hàng &amp; Thu tiền tại
                    nhà
                    toàn quốc</div>
                <div class="name-dkdn" style="display:block;">
                    Giấy chứng nhận ĐKDN số <b>0102196915</b> do Sở KH&amp;ĐT TP. Hà Nội cấp ngày
                    29/03/2007.

                </div>
            </div>

            <div class="body-verified">
                <div class="verified-item chungnhan">
                    <a href="#">
                        <img src="https://meta.vn/images/bo-cong-thuong.png" alt="Bộ công thương">
                    </a>
                </div>
                <div class="verified-item chungnhan">
                    <a href="#">
                        <img src="https://meta.vn/images/comodo_secure_seal.png" alt="Bộ công thương">
                    </a>
                </div>
                <div class="verified-item chungnhan">
                    <a href="#">
                        <img src="https://meta.vn/images/dmca_logo.png" alt="Bộ công thương">
                    </a>
                </div>
                <div class="verified-item chungnhan">
                    <a href="#">
                        <img src="https://tinnhiemmang.vn/handle_cert?id=meta.vn" alt="Bộ công thương">
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="address-company">
            <div class="add-hn">
                <span class="add-footer"><strong>HÀ NỘI:</strong> 56 Duy Tân, P. Dịch Vọng Hậu, Q. Cầu
                    Giấy</span>
                <span class="phone-add"><strong>- Điện thoại:</strong><a href="tel:02435686969"> (024)
                        3568
                        6969</a></span>
            </div>
            <div class="add-hcm">
                <span class="add-footer"><strong>TP.HCM:</strong>
                    Số 716-718 Điện Biên Phủ, Phường 10, Quận 10
                </span>

                <span class="phone-add"><strong>- Điện thoại:</strong><a href="tel:02838336666"> (028)
                        3833
                        6666</a></span>

            </div>

            <div class="email-add"><b>Email:</b> info@meta.vn</div>
        </div>
    </div>

</footer>